/* ATTENTION: I used Jerrica Bobadilla's example of CSS for the Carousel, but will tweak to fit my app. */

/* General */
body {
  background-color: lightpink;
  margin-right: 5em;

  /* display: flex;
  flex-direction: column; */
}
h1 {
  text-align: center;
  color: green;
  font-family: 'Courgette', cursive;
}

a {
  margin: 10em;
  color: green;
  font-family: 'Courgette', cursive;

}

/* Carousel Section */
.carousel-container {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
  /* flex-wrap: wrap;  */

}
.carousel-images {
  width: 30%;
  /* height: 20px; */
  background: #fa8d8e;
  padding: 10px;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: 2px 2px #f2cd99;
}
.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}
.carousel-images img:first-of-type {
  display: block;
}
.carousel-button {
  align-self: center;
  background: #f2cd99;
  color: green;
  padding: .05em;
  border-radius: 50px;
  text-align: center;
  box-shadow: 1px 1px #fa8d8e;
}
.carousel-button:hover {
  cursor: pointer;
  background: #fa8d8e;
  box-shadow: 1px 1px #f2cd99;
  color: white;
}

/*INSTRUCTIONS*/

.instructions-title {
  display: inline;
  flex-direction: row;
  color: green;
  font-family: 'Courgette', cursive;
  margin: 5em;
}
.instructions {
  display: flex;
  flex-direction: column;
  margin: 8em;
  color: purple;
  font-family: 'Courgette'; sans;
  /* height: 100px; */
  border-style: solid;
  border-color: green;
}

h2 {
  margin: 5em;
  color:  green;

}
/*API Section*/
.formcontainer {
  margin: 5em;
}

dt {
  margin: 5em;
  display: flex;
  flex-grow: <5>;
  color: purple;

}
